<!DOCTYPE html>
<html>
<head>
    <title>ELib - The best ebooks library. </title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    @RenderBody()
    @RenderSection("SPAViews", required: false)
    @RenderSection("Scripts", required: false)
</body>
</html>

